.container-fluid{
    display: flex;
    justify-content: center;
    /* max-height: 100vh; */
    flex-direction: column;
}

.login_content{
    max-width: 400px;
    width: 100%;
}

.login__ordiv {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.login__dividor {
    width: 130px;
    height: 0px;
    margin-top: 10px;
    border:1px solid #DBDBDB;
}
.login__or {
    margin: 0px 10px;
    font-weight: bold;
    color: #8E8E8E;
}

.login__fb {
    color: #395185;
    font-weight: bold;
    margin-top: 30px;
}
.login_forgt{
    color: rgba(var(--fe0,0,55,107),1);
}


.singup_link_content{
    max-width: 400px;
    width: 100%;
}

.custom_signin_btn{
    width:300px;
    height: 36px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    border:1px solid #0395F6;
    background-color: #0395F6;
    color: white;
}
